<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu Portão Automático
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
        
    </ion-refresher-content> 
  </ion-refresher>

  <div class="ion-padding" *ngIf="gate != undefined">
    <app-gate-status (click)="gateClick()" [gate]="gate"></app-gate-status>
  </div>
</ion-content>
