<ion-header>
  <ion-toolbar>
    <ion-title>Entradas e Saídas</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    
    </ion-refresher-content>
    
  </ion-refresher>
  <div class="ion-padding">
    <ion-list *ngFor="let registro of registros">
      <app-registro2 [registro]="registro" ></app-registro2>
    </ion-list>
  </div>
</ion-content>
